* {
	box-sizing:			border-box;
    padding:            0;
    margin:             0;
    --header-height:        50px;
    --header-color:         #30323a;
    --header-bright:        #3d404a;
    --header-text-color:    #ffffff;
    --bright:               #f8694a;
    --input-width:          240px;
    --input-height:         40px;
    --error-message-color:  red;
    --message-box-height:   60px;
}


.invisible {
	display:			none;
}


#header {
    width:              100%;
    height:             var(--header-height);
    background-color:   var(--header-color);
}


#my_cart {
    float:              right;
    color:              var(--header-text-color);
    padding-left:       10px;
    padding-right:      10px;
}


#my_cart:hover {
    background-color:   var(--header-bright);
}


#my_cart span {
    line-height:        var(--header-height);
}


#my_cart_caption {
    margin-right:       5px;
}


/* content */


#container {
    display:            flex;
    flex-direction:     column;
    width:              75%;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      100px;
    border:             1px solid gray;
    border-top:         0;
}


#container h1 {
    margin:             20px auto;
}


#container input:not([type=submit]) {
    width:              var(--input-width);
    height:             var(--input-height);
    margin:             10px;
    padding-left:       10px;
    border-left:        0;
    border-top:         0;
    border-right:       0;
}


#container input:focus {
    border-bottom:      1px solid var(--bright);
}


#message_box {
    width:              100%;
    height:             var(--message-box-height);
    background-color:   var(--bright);
    color:              white;
    padding-left:       10px;
}


#message_box span {
    line-height:        var(--message-box-height);
    font-size:          medium;
}


#user_data_form {
    width:              100%;
    height:             100%;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
}


#user_data_form span {
    color:              var(--error-message-color);
}


#personal_data_section {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    margin:             10px auto;
}


#login_data_section {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
}


#but_save {
    background-color:   var(--bright);
    border:             0;
    width:              var(--input-width);
    height:             var(--input-height);
    margin-top:         40px;
    font-weight:        bolder;
    color:              var(--header-text-color);
    font-size:          large;
}


#but_save:hover {
    animation:          button_hover;
    animation-duration: 0.3s;
    animation-fill-mode:    forwards;
}


@keyframes button_hover {
    from {
        background-color:   var(--bright);
    }
    to {
        background-color:   var(--header-color);
    }
}


#but_delete_account {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    center;
    width:              170px;
    height:             var(--input-height);
    background-color:   var(--bright);
    color:              var(--header-text-color);
    border-radius:      30px;
    margin:             30px;
}


#but_delete_account:hover {
    animation:          button_hover;
    animation-duration: 0.3s;
    animation-fill-mode:    forwards;
}


#but_delete_account img {
    height:             var(--input-height);
    width:              auto;
    padding:            5px;
}





